<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这块等于dao接口的实现 namespace必须和接口的类路径一样 -->
<mapper namespace="com.biyanzhi.dao.PictureImageDao">
	<resultMap type="com.biyanzhi.bean.PictureImage" id="PictureImage">
		<id property="id" column="id" />
		<result property="picture_id" column="picture_id" />
		<result property="image_id" column="image_id" />
		<result property="image_url" column="image_url" />

	</resultMap>
	<!-- id必须和接口中的方法名一样 返回一个 就是刚才的别名 如果不弄别名要连类路径一起写 麻烦 -->
	<insert id="insertPictureImage" parameterType="java.util.List"
		useGeneratedKeys="true">
		insert into
		picture_image(picture_id,image_url)values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.picture_id},#{item.image_url})
		</foreach>
	</insert>
	<select id="getPictureImageListsByPictureID" parameterType="Integer"
		resultMap="PictureImage">

		select * from picture_image where picture_id=#{picture_id}

	</select>
</mapper>