<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这块等于dao接口的实现 namespace必须和接口的类路径一样 -->
<mapper namespace="com.biyanzhi.dao.GuanZhuDao">
	<resultMap type="com.biyanzhi.bean.GuanZhu" id="GuanZhu">
		<id property="id" column="id" />
		<result property="user_id" column="user_id" />
		<result property="guanzhu_user_id" column="guanzhu_user_id" />


	</resultMap>
	<!-- id必须和接口中的方法名一样 返回一个 就是刚才的别名 如果不弄别名要连类路径一起写 麻烦 -->
	<insert id="addGuanZhu" parameterType="com.biyanzhi.bean.GuanZhu">
		insert into
		guanzhu(user_id,guanzhu_user_id )
		values(#{user_id},#{guanzhu_user_id}
		)
	</insert>
	<select id="getGuanZhuCountByUserID" resultType="int"
		parameterType="Integer">
		select count(*) from guanzhu
		where guanzhu_user_id =
		#{guanzhu_user_id}
	</select>
	<select id="isGuanZhuByUserIDAndGuanZhuUserID" resultType="int">
		select count(*) from guanzhu
		where guanzhu_user_id =
		#{guanzhu_user_id}
		and user_id=#{user_id}
	</select>
</mapper>
 