<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这块等于dao接口的实现 namespace必须和接口的类路径一样 -->
<mapper namespace="com.biyanzhi.dao.PictureDao">
	<resultMap type="com.biyanzhi.bean.Picture" id="Picture">
		<id property="id" column="id" />
		<result property="picture_id" column="picture_id" />
		<result property="publisher_id" column="publisher_id" />
		<result property="publish_time" column="publish_time" />
		<result property="content" column="content" />
		<result property="publisher_name" column="publisher_name" />
		<result property="publisher_avatar" column="publisher_avatar" />
		<result property="picture_image_url" column="picture_image_url" />
		<association property="score_number" column="picture_id"
			javaType="int" select="getPictureScores" />
		<association property="average_score" column="picture_id"
			javaType="Integer" select="getPictureAvgScore" />
		<collection property="comments" column="picture_id"
			ofType="com.biyanzhi.bean.Comment" select="getCommentByPictureID" />

	</resultMap>
	<!-- getAppLists必须和接口中的方法名一样 返回一个 就是刚才的别名 如果不弄别名要连类路径一起写 麻烦 -->
	<insert id="insertPicture" parameterType="com.biyanzhi.bean.Picture"
		useGeneratedKeys="true" keyProperty="picture_id">
		insert into
		picture(publisher_id,publish_time,content,publisher_name,publisher_avatar,picture_image_url
		)
		values(#{publisher_id},#{publish_time},#{content},#{publisher_name},#{publisher_avatar},#{picture_image_url}
		)
	</insert>
	<select id="getPictureList" parameterType="Integer" resultMap="Picture">
		select * from picture where publish_time_last_update >
		#{publish_time}
		order by
		publish_time desc limit 0,10

	</select>
	<select id="getPictureByPictureID" parameterType="Integer"
		resultMap="Picture">
		select * from picture where picture_id = #{picture_id}
	</select>
	<select id="loadMorePictureList" parameterType="Integer"
		resultMap="Picture">
	<![CDATA[	select * from picture where publish_time < #{publish_time}
		order by
		publish_time desc limit 0,10]]>

	</select>
	<select id="getPictureListByUserID" parameterType="Integer"
		resultMap="Picture">
		select * from picture where publisher_id=#{publisher_id}
	</select>

	<select id="getCommentByPictureID" parameterType="Integer"
		resultType="com.biyanzhi.bean.Comment">

		select * from comment where picture_id=#{picture_id}

	</select>
	<select id="getPictureScores" parameterType="Integer"
		resultType="int">

		select count(*) from picture_score where
		picture_id=#{picture_id}

	</select>
	<select id="getPictureAvgScore" parameterType="Integer"
		resultType="Integer">

		SELECT ROUND(AVG(picture_score)) FROM picture_score WHERE
		picture_id=#{picture_id}

	</select>
	<select id="getGirlBangPictureList" parameterType="Integer"
		resultMap="Picture">
		SELECT
		p.picture_id,
		ROUND(AVG(picture_score)) avg_score,
		pic.*,
		u.user_gender
		FROM
		picture_score p
		LEFT JOIN picture pic ON
		p.picture_id = pic.picture_id
		LEFT JOIN `user` u ON pic.publisher_id =
		u.user_id WHERE u.user_gender="女"
		GROUP BY
		p.picture_id
		ORDER BY
		avg_score DESC limit 0,10
	</select>
	<select id="getBoyBangPictureList" parameterType="Integer"
		resultMap="Picture">
		SELECT
		p.picture_id,
		ROUND(AVG(picture_score)) avg_score,
		pic.*,
		u.user_gender
		FROM
		picture_score p
		LEFT JOIN picture pic ON
		p.picture_id = pic.picture_id
		LEFT JOIN `user` u ON pic.publisher_id =
		u.user_id WHERE u.user_gender="男"
		GROUP BY
		p.picture_id
		ORDER BY
		avg_score DESC limit 0,10
	</select>
	<update id="updatePictureUpdateTime" parameterType="Map">
		UPDATE
		picture
		SET
		publish_time_last_update = #{publish_time_last_update} WHERE
		picture_id = #{picture_id}
	</update>
</mapper>