<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这块等于dao接口的实现 namespace必须和接口的类路径一样 -->
<mapper namespace="com.biyanzhi.dao.CommentDao">
	<resultMap type="com.biyanzhi.bean.Comment" id="Comment">
		<id property="id" column="id" />
		<result property="comment_id" column="comment_id" />
		<result property="picture_id" column="picture_id" />
		<result property="publisher_id" column="publisher_id" />
		<result property="comment_content" column="comment_content" />
		<result property="comment_time" column="comment_time" />
		<result property="publisher_name" column="publisher_name" />
		<result property="publisher_avatar" column="publisher_avatar" />
		<result property="reply_someone_name" column="reply_someone_name" />
		<result property="reply_someone_id" column="reply_someone_id" />

	</resultMap>
	<!-- id必须和接口中的方法名一样 返回一个 就是刚才的别名 如果不弄别名要连类路径一起写 麻烦 -->
	<insert id="insertComment" parameterType="com.biyanzhi.bean.Comment"
		useGeneratedKeys="true" keyProperty="comment_id">
		insert into
		comment(picture_id,publisher_id,comment_content,comment_time,publisher_name,publisher_avatar,reply_someone_name,reply_someone_id)
		values(#{picture_id},#{publisher_id},#{comment_content},#{comment_time},#{publisher_name},#{publisher_avatar},#{reply_someone_name},#{reply_someone_id})
	</insert>

</mapper>